@font-face {
    font-family: 'Al-Aramco_';
    src: url('../fonts/Al-Aramco_.ttf') format('truetype');
}

@font-face {
    font-family: 'DroidKufi-Regular';
    src: url('../fonts/DroidKufi-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GE_SS_Two_Bold';
    src: url('../fonts/GE_SS_Two_Bold.eot') format('embedded-opentype');
}

.rtl_dir {
    direction: rtl !important;
    text-align: right !important;
}
.rtl_justify {
    direction: rtl !important;
    text-align: justify !important;
}

.rtl_dir_center {
    direction: rtl !important;
    text-align: center !important;
}

.ltr_dir {
    direction: ltr !important;
    text-align: left !important;
}

.ltr_dir_center {
    direction: ltr !important;
    text-align: center !important;
}

.float-right {
    float: right !important;
}

.background {
    background-image: url(../images/forMe/‏‏programmingKnights_200px.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 3px solid white;
    border-radius: 50%;
}
.background_muntjaty {
    /*background-image: url(../images/forMe/Logos/Muntjaty_Logo.png);*/
    height: 100%;
    width: 100%;
    position: relative;
    background-size: 20px;
    background-repeat: no-repeat;
    /*border: 5px solid black;*/
    border-radius: 50%;
    padding-top: 4px;
}

.center_radius_img {
    height: 100px;
    width: 100px;
    margin-top: 20px;
    text-align: center;
    position: static;
    border-radius: 50%;
}



.margin_left {
    margin-left: 5px;
}
